@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spline+Sans:wght@300;400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  background: #2f2f2f;
  padding: 0 300px;
}

.nav__container_one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
}

.nav__contactContainer {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav__phone {
  display: flex;
  align-items: center;
  margin-left: 12px;
  gap: 8px;
}

.nav__phone_img {
  width: 16px;
  height: 16px;
  fill: #f5f5f5;
}

.nav__navBar .ul__navLinks {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-decoration-line: underline;
}

.nav__navBar .ul__navLinks li a {
  text-decoration: none;
  color: inherit;
}

.ul__navLinks li:hover {
  color: #008421;
  transition: ease-in 0.3s;
}

.nav__container_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__msg_two {
  color: #f5f5f5;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.nav__signIn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.nav__signIn_btn {
  color: #f5f5f5;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.nav__signIn_btn:hover {
  color: #008421;
  transition: ease-in 0.3s;
}

/* Cart Section */

.cart__container {
  height: 96px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.16);
}

.cart_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 300px;
}

.cart__container_one {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 115px;
}

.cart__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  gap: 24px;
}

.cart__tab {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.cart__tab span {
  margin-top: 4px;
}

.cart__tab:hover .line-svg path {
  stroke: #e0872c; /* Change the stroke color on hover */
}

.cart__tab:hover span {
  color: #e0872c;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  transition: color ease-in 0.3s;
}

.line-svg path {
  transition: stroke ease-in 0.3s;
}

.cart__container_two {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cart__inputContainer {
  position: relative;
}

.cart__input {
  border: 1px solid black;
  width: 358px;
  height: 48px;
  padding: 0 16px;
}

.cart__input:hover {
  border: 2px solid black;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.cart__input::placeholder {
  color: #828282;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.cart__inputImg {
  position: absolute;
  right: 15px;
  top: 17px;
}

.cart__counter {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -15px;
  border: 1px solid #f5f5f5;
  border-radius: 100%;
  transform: translateX(50px);
  z-index: 2;
  color: #008421;
  font-family: Titillium Web;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  background-color: #f5f5f5;
}

.cart__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 143px;
  height: 48px;
  background: #008421;
  color: #f5f5f5;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.cart__button:hover {
  background: #023810;
  transition: ease-in 0.3s;
}

/* Shopping CSS */

.shopping__container {
  display: flex;
  align-items: center;
  padding: 0 300px;
  gap: 58px;
}

.shopping__header {
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 88.889% */
  margin-top: 40px;
}

.shopping__headerNav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}

.items-inner {
  display: flex;
  align-items: center;
  gap: 80px;
}

.shopping__headerNav-item {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.shopping__headerNav-item-two {
  margin-right: 66px;
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.shopping__flex {
  display: flex;
  align-items: center;
  margin-top: 56px;
}

.shopping__cart {
  width: 100%;
  margin: 0 auto;
}

.shopping__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 3px solid #f5f5f5;
  padding: 20px 0;
  width: 100%;
}

.shopping__item-image {
  width: 300px;
  height: 145px;
  height: auto;
}

.shopping__item-description {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-grow: 1;
  padding: 0 20px;
}

.shopping__item-title {
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  width: 300px;
  margin: 0;
}

.shopping__item-color {
  margin: 0;
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.color {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.shopping__quantityInteractive {
  width: 48px;
  height: 48px;
  border: 2px solid #2f2f2f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -moz-appearance: textfield;
}

.shopping__quantityInteractive::-webkit-outer-spin-button,
.shopping__quantityInteractive::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopping__subtotal-two {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  margin-left: 60px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.shopping__remove {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.shopping__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.shopping__discount {
  display: flex;
  border: 2px solid #000;
  border-radius: 4px;
}

.shopping__discount-code {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-right: 2px solid #000;
}

.shopping__discount-code::placeholder {
  color: #828282;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.shopping__apply-btn {
  padding: 10px;
  background: #fff;
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.shopping__apply-btn:hover {
  background: #0a0a0a;
  color: #fff;
  transition: ease-in 0.3s;
}

.shopping__update-btn {
  display: flex;
  width: 294px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #2f2f2f;
  color: #f5f5f5;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
  border: none;
}

.shopping__update-btn:hover {
  background-color: #0a0a0a;
  transition: ease-in 0.3s;
  cursor: pointer;
}

/* Summary */

.shopping__summary-container {
  width: 100%;
}

.shopping__global_inner {
  margin-top: 20px;
}

.shopping__summary-title {
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  text-transform: uppercase;
}

.shopping__inner_text--active {
  color: green;
}

.shopping__estimate-toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background: #f5f5f5;
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.shopping__inner_text {
  margin-left: 24px;
}

.shopping__estimate-toggle-icon {
  font-weight: bold;
  font-size: 24px;
  margin-right: 24px;
}

.shopping__estimate-details {
  display: none;
  padding: 10px 0;
}

.shopping__summary-details {
  height: auto;
  background: #f5f5f5;
  padding: 24px;
}

.responsive__layout_block {
  display: flex;
}

.responsive__layout_block-two {
  display: flex;
  align-items: center;
}

.shopping__subtotal,
.shopping__shipping,
.shopping__order-total {
  display: flex;
  justify-content: space-between;
}

.shopping__checkout-btn {
  display: block;
  width: 100%;
  padding: 10px;
  height: 56px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  background: #008421;
  color: #f5f5f5;
  text-align: center;
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
}

.shopping__checkout-btn:hover {
  background: #023810;
  transition: ease-in 0.3s;
}

.text-dev {
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}

.text-num {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.text-wholeNum {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.shopping__order-total {
  margin-top: 35px;
}

.text-whole {
  color: #2f2f2f;
  font-family: Bebas Neue;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
}

.shopping__multiple-addresses-btn {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 123.077% */
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 24px;
}

.shopping__estimate-details {
  width: 100%;
}

.shipping__state {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.country__state {
  border: 2px solid #828282;
  width: 89.5%;
  height: 48px;
  border: 2px solid #2f2f2f;
  appearance: none;
  padding: 0 16px;
}

.global {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.shipping-option {
  margin: 24px 0 24px 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
}

.mAradio {
  margin-left: 24px;
  margin-top: 10px;
}

.country__select {
  width: 100%;
  height: 48px;
  border: 2px solid #2f2f2f;
  appearance: none;
  padding: 0 16px;
}

.country__select::placeholder {
  color: #2f2f2f;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

/* Footer */

.footer__container {
  height: 162px;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 120px;
}

.footer__elements .footer__element a {
  text-decoration: none;
  color: inherit;
}

.footer__elements {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #f5f5f5;
  font-family: Titillium Web;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 123.077% */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.footer__element:hover {
  color: #008421;
  transition: ease-in 0.3s;
}

.footer_elements_two {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__contact_support {
  color: #f5f5f5;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.footer__contact_2nd {
  display: flex;
  align-items: center;
  color: #f5f5f5;
  font-family: Titillium Web;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.footer__phoneNumb {
  margin-left: 12px;
}

.hamburger-menu {
  display: none;
}

/* responsive */

@media (max-width: 1880px) {
  .header {
    padding: 0 200px;
  }

  .cart_inner {
    padding: 24px 200px;
  }

  .shopping__container {
    padding: 0 200px;
  }
}

@media (max-width: 1650px) {
  .header {
    padding: 0 100px;
  }

  .cart_inner {
    padding: 24px 100px;
  }

  .shopping__container {
    padding: 0 100px;
  }
}

@media (max-width: 1450px) {
  .header {
    padding: 0 40px;
  }

  .cart_inner {
    padding: 24px 40px;
  }

  .shopping__container {
    padding: 0 40px;
  }
}

@media (max-width: 1300px) {
  .header {
    padding: 0 20px;
  }

  .cart_inner {
    padding: 24px 20px;
  }

  .shopping__container {
    padding: 0 20px;
  }

  .country__state {
    width: 92%;
  }
}

@media (max-width: 1250px) {
  .nav__contact {
    display: none;
  }

  .nav__container_two {
    display: none;
  }

  .cart__input {
    width: 200px;
  }

  .shopping__header {
    font-size: 40px;
  }

  .shopping__item-image {
    width: 150px;
    height: 100px;
  }

  .shopping__item-title {
    width: 220px;
  }
}

@media (max-width: 1025px) and (min-width: 325px) {
  .cart__input {
    width: 0;
    padding-left: 0;
    padding-right: 50px;
    cursor: pointer;
    border: none;
  }

  .cart__input:focus {
    width: 200px;
    padding: 0 16px;
    border: 1px solid black;
    cursor: text;
  }

  .cart__inputContainer:hover .cart__input {
    border: 1px solid #0a0a0a;
    transition: width 0.3s ease-in, border 0.3s ease;
  }

  .cart__inputImg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

  .cart__input:focus + .cart__inputImg {
    display: none;
  }

  .shopping__item-image {
    width: 150px;
    height: 150px;
  }

  .shopping__item-title {
    width: 150px;
  }

  .shopping__checkout-btn {
    font-size: 18px;
  }

  .text-whole {
    font-size: 20px;
  }

  .text-dev {
    font-size: 16px;
  }
}

@media (max-width: 1025px) {
  .cart__button {
    width: 40px;
    height: 40px;
  }

  .shopping__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .shopping__item-image {
    width: 100%;
    height: 100px;
  }

  .shopping__item-title {
    width: 100%;
  }

  .country__state {
    width: 96.5%;
  }
}

@media (max-width: 800px) {
  .footer__container {
    padding: 24px 0;
    height: auto;
  }

  .footer__elements {
    display: flex;
    flex-direction: column;
  }

  .footer_elements_two {
    display: flex;
    flex-direction: column;
  }

  .line__spread {
    display: none;
  }
}

@media (max-width: 700px) {
  .hamburger-menu {
    display: flex;
    align-items: center;
  }

  .cart__tabs {
    display: none;
  }

  .cart__container_one {
    gap: 20px;
  }

  .cart__inchoo_logo {
    width: 100px;
  }

  .shopping__headerNav {
    display: none;
  }

  .hamburger__icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .shopping__item {
    display: flex;
    flex-direction: column;
  }

  .responsive__layout_block-two {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .shopping__actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .shopping__discount {
    width: 100%;
  }

  .shopping__update-btn {
    width: 100%;
  }

  .nav__phone span {
    display: none;
  }

  .nav__phone {
    display: none;
  }
}

@media (max-width: 425px) {
  .nav__container_one {
    gap: 0;
  }
}

@media (max-width: 370px) {
  .nav__container_one {
    display: none;
  }

  .cart__input {
    width: 0px;
  }
}
